<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/marked@0.3.6"></script>
<script src="https://unpkg.com/lodash@4.16.0"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    
   
    
    <div id="editor">
        <input id='box' :value="query" placeholder="Search for a word." @input='setQuery'>
        <button v-on:click="find"> Click me!</button>
        <p>The value of query is {{ this.query }}</p>
        <textarea :value="input" @input="update"></textarea>
        <!-- <div v-html="compiledMarkdown"></div> -->
    </div>
  <script>
    new Vue({
  el: '#editor',
  data: {
    input: '',
    query: '',
  },
  methods: {
    update: _.debounce(function (e) {
      this.input = e.target.value
      console.log(this.input)
    }, 300),
    setQuery: _.debounce(function(e){
      this.query = e.target.value
      console.log(this.query,'query value')
    }, 300),
    find: function(){
    }
  }

})
  </script>
</body>
</html>

<!-- let example1 = 'abc'
let example2 = 'abcdefg'
function find(source, target){
  let middle;
  if(!source.length % 2 === 0){
    middle = source[Math.floor(source.length/2)]
  } else { 
    middle = source[Math.floor((arr.length-1)/2 )]
  }
  if(middle === target) {
    return middle
  }
  
}
console.log(find(example1), 'p')
find(example2) -->